<h2 mat-dialog-title>{{ form.value.title ? 'Edit Alert' : 'Add Alert' }}</h2>

<form [formGroup]="form">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Message</mat-label>
    <textarea matInput formControlName="message"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="submit()">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
