<mat-card class="parking-card">
  <mat-card-title class="card-title">Manage Parking Slots</mat-card-title>

  <mat-card-content>

    <div class="table-header">
      <button mat-flat-button color="primary" (click)="openDialog()">
        <mat-icon class="icon-left">add</mat-icon> Add New Parking Slot
      </button>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

        <!-- Slot Number Column -->
        <ng-container matColumnDef="slotNumber">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Slot Number</th>
          <td mat-cell *matCellDef="let element">{{ element.spotNumber }}</td>
        </ng-container>

        <!-- Slot Type Column -->
        <ng-container matColumnDef="slotType">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Slot Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Floor Column -->
        <ng-container matColumnDef="floor">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Floor</th>
          <td mat-cell *matCellDef="let element">{{ element.floor }}</td>
        </ng-container>

        <!-- Is Occupied Column -->
        <ng-container matColumnDef="isOccupied">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Occupied?</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [color]="element.isOccupied ? 'primary' : 'warn'">
              {{ element.isOccupied ? 'check_circle' : 'highlight_off' }}
            </mat-icon>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="openDialog(element)">
              <mat-icon class="icon-hover">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteParkingSlot(element.id)">
              <mat-icon class="icon-hover">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Table headers and rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

  </mat-card-content>
</mat-card>
