<mat-card>
  <mat-card-title>Manage Vehicles</mat-card-title>
  <mat-card-content>

    <div class="table-container">
      <button mat-flat-button color="primary" (click)="openDialog()" style="margin-bottom: 16px;">
        <mat-icon class="icon-left">add</mat-icon>
        Add New Vehicle
      </button>

      <table mat-table [dataSource]="vehicles" class="mat-elevation-z8 full-width-table">

        <!-- Vehicle Number Column -->
        <ng-container matColumnDef="vehicleNumber">
          <th mat-header-cell *matHeaderCellDef>Vehicle No.</th>
          <td mat-cell *matCellDef="let element">{{ element.vehicleNumber }}</td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="vehicleType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.vehicleType }}</td>
        </ng-container>

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef>Brand</th>
          <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef>Color</th>
          <td mat-cell *matCellDef="let element">{{ element.color }}</td>
        </ng-container>

        <!-- Parking Slot Column -->
        <ng-container matColumnDef="parkingSlot">
          <th mat-header-cell *matHeaderCellDef>Parking Slot</th>
          <td mat-cell *matCellDef="let element">{{ element.parkingSlot }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="openDialog(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteVehicle(element.vehicleId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </mat-card-content>
</mat-card>
