<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Block Name</mat-label>
    <input matInput formControlName="blockName" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Floor</mat-label>
    <input matInput formControlName="floor" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Flat Number</mat-label>
    <input matInput formControlName="flatNumber" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Type</mat-label>
    <input matInput formControlName="type" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Area (Sq Ft)</mat-label>
    <input matInput formControlName="areaInSqFt" type="number" required />
  </mat-form-field>

  <mat-slide-toggle formControlName="occupied">Occupied</mat-slide-toggle>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="save()">Save</button>
  <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>
