<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Staff ID</mat-label>
    <input matInput formControlName="staffId" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating">
      <mat-option *ngFor="let r of [1, 2, 3, 4, 5]" [value]="r">{{ r }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Comments</mat-label>
    <textarea matInput formControlName="comments"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Submit</button>
</mat-dialog-actions>